<div class="container">
  <% @group.photos.each do |photo| %>
    <% if photo %>
      <%= cl_image_tag photo.key, class: "img-fluid", crop: :fill %>
    <% else %>
        <img style="width: 100%" src="https://placehold.co/900x600" alt="main image">
    <% end %>
  <% end %>
  <h1 class="mt-3"><strong><%= @group.title %></strong></h1>
  <div class="group-info">
    <%= render "shared/group_info" %>
  </div>
  <div class="group-description mb-3">
    <%= render "shared/group_description" %>
  </div>
  <div class="members">
    <%= render "shared/group_members" %>
  </div>
</div>
<%= render "posts", posts: @group.posts %>
