<div class="group-info-card">
  <ul class="fa-ul">
    <li><span class="fa-li"><i class="fa-solid fa-location-dot"></i></span> <%= @group.city %> </li>
    <li><span class="fa-li"><i class="fa-solid fa-users"></i></i></span> <%= @users_count %>  Members - <%= @group.private ? 'Private group' : 'Public group' %> </li>
    <li><span class="fa-li"><i class="fa-solid fa-user"></i></span> Organized by <strong><%= @creator.capitalize %></strong> </li>
    <div class="d-flex">
      <li><span class="fa-li"><i class="fa-solid fa-share-nodes"></i></span>
        Share on  <i class="fa-brands fa-facebook" style="color: #4267B2;"></i>
                  <i class="fa-brands fa-twitter" style="color: #1DA1F2;"></i>
      </li>
    </div>
  </ul>
</div>
<div class="button d-flex justify-content-center">
  <% if current_user.groups.include?(@group) %>
    <button class="btn btn-success mt-3 col-6 rounded-pill"> You're a member </button>
  <% else %>
    <%= link_to "Join Group", group_user_groups_path(@group), data: {turbo_method: :post}, class:"btn btn-primary col-6 rounded-pill" %>
  <% end %>
</div>
<br>
