<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>
  <div class="mb-3 form-inputs">
    <%= f.input :title,
                required: true %>
  </div>
  <div class="mb-3 form-inputs">
    <%= f.input :description,
                required: true %>
  </div>
  <div class="mb-3 form-inputs">
    <%= f.input :city,
                required: true %>
  </div>
  <div class="mb-3 form-inputs">
    <%= f.input :category,
                collection: @categories,
                prompt: "Select a category",
                required: true,
                autofocus: true %>
  </div>
  <div class="mb-3 form-inputs">
    <%= f.input :private,
                as: :boolean,
                input_html: { class: "private" } %>
  </div>
  <div class="text-center form-actions">
    <%= f.button :submit, "Save", class: "btn btn-primary col-6 mt-3 rounded-pill" %>
  </div>
<% end %>
