<nav class="navbar bg-light fixed-top navbar-teamup">
  <div class="container-fluid">

    <div class ="left-side">
      <% if user_signed_in? %>
      <%# change back to events_path after presentation %>
        <%= link_to root_path do %>
          <div class="navbar-brand d-flex">
            <%= image_tag "teamup_logo.png", alt: "TeamUp", width: 300 %>
          </div>
        <% end %>
      <% else %>
        <%= link_to root_path do %>
          <div class="navbar-brand d-flex">
            <%= image_tag "teamup_logo.png", alt: "TeamUp", width: 300 %>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class ="right-side">
      <% if user_signed_in? %>
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, width: 50, height: 50, class: "avatar", crop: :thumb, gravity: :face %>
        <% else %>
          <%= image_tag "placeholder.png", class: "avatar" %>
        <% end %>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <% if user_signed_in? %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, width: 50, height: 50, class: "avatar", crop: :thumb, gravity: :face %>
                <h3>Welcome, <%= current_user.first_name.capitalize %> 👋 </h3>
              <% else %>
                <%= image_tag "placeholder.png", class: "avatar" %>
              <% end %>
            <% end %>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>

          <div class="offcanvas-body">
            <% if user_signed_in? %>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item"><%= link_to "Your Profile", profile_path %></li>
                <li class="nav-item"><%= link_to "Messages", profile_path %></li>
                <li class="nav-item"><%= link_to "Your Events", user_events_path %></li>
                <li class="nav-item"><%= link_to "Your Groups", user_groups_path %></li>
                <hr>
                <li class="nav-item"><%= link_to "Find an Event", events_path %></li>
                <li class="nav-item"><%= link_to "Create an Event", new_event_path %></li>
                <li class="nav-item"><%= link_to "Find a Group", groups_path %></li>
                <li class="nav-item"><%= link_to "Create a Group", new_group_path %></li>
                <hr>
                <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li class="nav-item"><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: "delete" } %></li>
              </ul>
            <% else %>
              <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <div class="text-center">
                  <h5>Not yet a member?</h5>
                  <p>Sign-up & TeamUp!</p>
                  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary col-8 mt-3 rounded-pill" %>
                  <br><br><hr><br>
                  <h5>Already have an account?</h5>
                  <p>Welcome back!</p>
                  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary col-8 mt-3 rounded-pill" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</nav>
