<h1>View all the Events</h1>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="category-container">
    <div class="index-category-bar">
      <% categories = Event.pluck(:category).uniq %>
      <% categories.each do |category| %>
      <%= link_to events_path(query: category) do%>
        <div id="<%= category %>" class="item">
          <h1><%= category %></h1>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>

<h2>Results for Tennis in Berlin</h2>
<%# form_tag do %>
  <%# select_tag 'city', options_for_select(@cities), include_blank: true %>
  <%# submit_tag 'Filter' %>
<%# end %>
<div class="d-flex justify-content-center">
  <% @events.each do |event| %>
    <%= render "shared/card", event: event %>
  <% end %>
</div>
