<div class="index-container" data-controller="filter">
  <div data-filter-target="mapContainer">
    <%= render "shared/map_container", markers: @markers %>
  </div>
  <div class="category-container">

    <%= render "shared/category_bar" %>


    <div class="results-card-container">
      <% if params[:query].present? %>
      <h2 data-filter-target="title">Results for <span class="result-category"><%= @category %></span></h2>
      <% else %>
        <h2 data-filter-target="title">All events </h2>
      <% end %>

          <div class="filter-container d-flex">
      <%= render "shared/level_filter" %>
      <%= render "shared/city_filter" %>
    </div>

      <div class="index-event-cards" data-filter-target="cards">
          <div class="index-event-card">
            <%= render "shared/index_card_all", events: @events %>
          </div>
      </div>
    </div>
  </div>
</div>
