<div class="index-container" data-controller="filter">
  <div data-filter-target="mapContainer">
    <%= render "shared/map_container", markers: @markers %>
  </div>
  <div class="category-container">
    <%= render "shared/category_bar" %>

    <%= render "shared/level_filter" %>
    <%= render "shared/city_filter" %>

    <div class="results-card-container">
      <% if params[:query].present? %>
        <h2>Results for <%= @category %></h2>
      <% else %>
        <h2>All events</h2>
      <% end %>

      <h1><%# @event_city %></h1>
      <div class="index-event-cards" data-filter-target="cards">
        <%# <% @events.each do |event| %>
          <div class="index-event-card">
            <%= render "shared/index_card_all", events: @events %>
          </div>
        <%# <% end %>
      </div>
    </div>
  </div>
</div>
