<div class="d-flex flex-column">
  <% if @event.photos.attached? %>
    <%= cl_image_tag @event.photos[0].key, crop: :fill %>
  <% else %>
      <img style="width: 100%" src="https://placehold.co/900x600" alt="main image">
  <% end %>
</div>

<div class="container">
  <%# Details section %>
  <div class="container px-3 pt-3 pb-2 mt-3 group-info">
  <h2 class="mb-4 ml-5"><%= @event.title %></h2>
    <ul class="fa-ul">
      <li>
        <div class="d-flex flex-column">
          <span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span> <%= @event.start_date.strftime('%a, %d %b %Y - %H:%M') %>
          <a href="#">Add to Calendar</a>
        </div>
      </li>
      <li><span class="fa-li"><i class="fa-solid fa-location-dot"></i></span> <%= @event.address %></li>
      <li><span class="fa-li"><i class="fa-solid fa-arrow-up-short-wide"></i></span> <%= @event.level %></li>
    </ul>
    <hr>
    <% if @event.group.present? %>
      <%= link_to group_path(@event.group), class: "d-flex m-3" do %>
        <% if @event.group.photos.attached? %>
          <div class="">
            <%= cl_image_tag @event.group.photos[0].key, class: "round-image", :width => 80, :height => 80, crop: :fill %>
          </div>
        <% end %>
        <div class="ms-3 align-self-center">
          <h6 class="fw-bold"><%= @event.group.title %></h6>
          <%= @event.group.private ? "Private Group" : "Public Group" %>
        </div>
      <% end %>
    <% end %>
  </div>


  <div data-controller="show-map">
    <div data-show-map-target="mymap" class="pt-3">
      <div data-post-target="map">
        <div style="width: 100%; height: 300px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <div class="text-center">
      <button data-action="click->show-map#show" class="btn rounded-pill mt-2 d-flex justify-content-center" id="map-btn">Hide/Show Map</button>
    </div>
  </div>

  <h5 class="mb-4">Members That Joined</h5>
  <div class="members-avatars d-flex flex-wrap">
    <% @event.bookings.each_with_index do |booking, index| %>
      <% if index == 0 %>
        <%= cl_image_tag booking.user.photo.key, class: "each-member-avatar creator", width: 60, height: 60, crop: :thumb, gravity: :face %>
      <% else %>
        <%= cl_image_tag booking.user.photo.key, class: "each-member-avatar", width: 60, height: 60, crop: :thumb, gravity: :face %>
      <% end %>
    <% end %>
    <% (@event.spots_available - @event.bookings.count).times do %>
      <%= link_to event_bookings_path(@event), data: {turbo_method: :post, turbo_confirm: "Yeah! Confirm to join #{@event.title}"} do %>
        <%= image_tag "placeholder.png", class: "each-member-avatar", width: 60, height: 60, crop: :thumb %>
      <% end %>
    <% end %>
  </div>
    <br>
    <% if user_signed_in? && @event.user_id != current_user.id %>
      <% if current_user.events.include?(@event) %>
        <%= link_to "Leave event",
          delete_booking_path(@event),
          class: "btn btn-warning rounded-pill mt-2",
          data: {turbo_method: :delete, turbo_confirm: "Oh no! Do you really want to leave #{@event.title}"}
          %>
        <br>
      <% end %>
    <% end %>


  <div class="d-flex mt-2 gap-1">
    <% if user_signed_in? && @event.user_id == current_user.id %>
      <%= link_to 'Edit event', edit_event_path(@event), class: "btn btn-warning rounded-pill" %>
      <br>
      <%= link_to "Delete event",
        event_path(@event), class: "btn btn-warning rounded-pill",
        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{@event.title}?"}
      %>
    <% end %>
  </div>

  <br>
  <div class="container p-3 group-info">
    <h5 class="mb-4">Description</h5>
    <%= @event.description %>
  </div>



  <%# ############# Chatroom ##############%>
  <% if user_signed_in? && current_user.events.include?(@event) %>
  <div class="container chatroom"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @event.chatroom.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

      <h2 class="mb-4">Event Chat</h2>

      <div class="messages" data-chatroom-subscription-target="messages">
      <% @event.chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
    </div>

    <%= simple_form_for [@event, @event.chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
      <%= f.input :content,
        label: false,
        placeholder: "Message in #{@event.title}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <% end %>
  <% end %>
  </div>
</div>


<div style= "margin-bottom: 80px;">
</div>

<div class="join-event text-align-center">
  <% if user_signed_in? && current_user.events.exclude?(@event) %>
    <%= link_to "Join event",
      event_bookings_path(@event),
      class: "btn btn-primary col-8 offset-2 p-3 justify-content-center rounded-pill",
      data: {turbo_method: :post, turbo_confirm: "Yeah! Confirm to join #{@event.title}"}
    %>
    <br>
  <% end %>
</div>
