<div class="d-flex flex-column">
  <% if @event.photos.attached? %>
    <%= cl_image_tag @event.photos[0].key, crop: :fill %>
  <% else %>
      <img style="width: 100%" src="https://placehold.co/900x600" alt="main image">
  <% end %>
  <h1 class="mt-3"><strong><%= @event.title %></strong></h1>
</div>

<%# Details section %>
<div class="container p-1 group-info">
  <ul>
    <li>
      <div class="d-flex flex-column">
        <%= @event.start_date %>
        <a href="#">Add to Calendar</a>
      </div>
    </li>
    <li>
      <%= @event.address %>
    </li>
    <li>
      <%= @event.level %>
    </li>
  </ul>

  <div class="d-flex align-items-center mb-3">
    <% if @event.group.present? %>
      <% if @event.group.photos.attached? %>
        <div class="m-3">
          <%= cl_image_tag @event.group.photos[0].key, :width => 100, :height => 100, crop: :fill %>
        </div>
     <% end %>
     <div class="m-3">
      <h4><%= @event.title %></h4>
      <%= @event.group.private ? "Private Group" : "Public Group" %>
    </div>
    <% end %>
  </div>
</div>


<div data-controller="show-map">
  <div data-show-map-target="mymap" class="">
    <div data-post-target="map">
      <div style="width: 100%; height: 300px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <button data-action="click->show-map#show">Hide/Show Map</button>
</div>

<h5 class="mt-3"><strong>Members that joined</strong></h5>
<div class="members-avatars">
  <% @event.bookings.each do |booking| %>
    <%= cl_image_tag booking.user.photo.key, class: "each-member-avatar", width: 60, height: 60, crop: :thumb, gravity: :face %>
  <% end %>
  <% (@event.spots_available - @event.bookings.count).times do %>
    <%= link_to event_bookings_path(@event), data: {turbo_method: :post, turbo_confirm: "Are you sure?"} do %>
      <%= image_tag "placeholder.png", class: "each-member-avatar", width: 60, height: 60, crop: :thumb %>
    <% end %>
  <% end %>
</div>

<%= link_to "Join event",
  event_bookings_path(@event),
  data: {turbo_method: :post, turbo_confirm: "Are you sure?"}
%>
<br>
<% raise %>
<%= link_to "Leave event",
  delete_booking_path(@event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<% if @event.user_id == current_user.id %>
  <%= link_to 'Edit event', edit_event_path(@event) %>
  <br>
  <%= link_to "Delete event",
    event_path(@event),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>

<br>
<h3>All the bookings</h3>
<% @event.bookings.each do |booking| %>
  <h4><%= booking.user.first_name %></h4>
<% end %>



<%# ############# Chatroom ##############%>
<h4>Chatroom ID: <%= @event.chatroom.id %></h4>
<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @event.chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <h1>#<%= @event.chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
  <% @event.chatroom.messages.each do |message| %>
  <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
    <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
    </div>
  </div>
<% end %>
</div>

<%= simple_form_for [@event, @event.chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@event.chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
