<h1>Hello from the Show Page</h1>

<%= @event.title %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <% @event.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to "Join event",
  event_bookings_path(@event),
  data: {turbo_method: :post, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to "Leave event",
  delete_booking_path(@event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to 'Edit event', edit_event_path(@event) %>
<br>
<%= link_to "Delete event",
  event_path(@event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<br>
<h3>All the bookings</h3>
<% @event.bookings.each do |booking| %>
  <h4><%= booking.user.first_name %></h4>
<% end %>



<%# ############# Chatroom ##############%>
<h4>Chatroom ID: <%= @event.chatroom.id %></h4>
<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @event.chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <h1>#<%= @event.chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
  <% @event.chatroom.messages.each do |message| %>
  <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
    <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
      <%= render "messages/message", message: message %>
    </div>
  </div>
<% end %>
</div>

<%= simple_form_for [@event, @event.chatroom, @message],
  html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
%>
  <%= f.input :content,
    label: false,
    placeholder: "Message ##{@event.chatroom.name}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
