<h1>Hello from the Show Page</h1>

<%= @event.title %>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

  <% @event.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to "Join event",
  event_bookings_path(@event),
  data: {turbo_method: :post, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to "Leave event",
  delete_booking_path(@event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to 'Edit event', edit_event_path(@event) %>
<br>
<%= link_to "Delete event",
  event_path(@event),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<br>
<h3>All the bookings</h3>
<% @event.bookings.each do |booking| %>
  <h4><%= booking.user.first_name %></h4>
<% end %>
